<!doctype html>
<html>
<head>
    <title>Book Library</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-book"></span> Check Out a Book</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="col-sm-6">
        <h1>Books</h1>
        <ul class="books">
            <% books.forEach(function(book) { %>
              <li class="message" data-isbn="<%= book.isbn %>">
                <h2><%= book.title %></h2>
                  <p>Author: <%= book.author %></p>
                  <p>ISBN: <%= book.isbn %></p>
                  <p>Availability: <%= book.available ? 'Available' : 'Not Available' %></p>

                <!-- ... -->
                <!-- <p>Availability: <%= book.available ? 'Available' : 'Not Available' %></p> -->
                    <% if (book.available) { %>
                      <form action="/books/checkout" method="POST">
                        <input type="hidden" name="isbn" value="<%= book.isbn %>">
                        <button type="submit">Check Out</button>
                      </form>
                    <% } else { %>
                      <form action="/books/return" method="POST">
                        <input type="hidden" name="isbn" value="<%= book.isbn %>">
                        <button type="submit">Return</button>
                      </form>
                    <% } %>
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                    <!-- <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
              </li>
              
            <% }); %>
          </ul>
          
          

        <% if (user.local.email) { %>
            <h2>Add a book</h2>
            <form action="/books/add" method="POST">
                <input type="text" placeholder="Title" name="title">
                <input type="text" placeholder="Author" name="author">
                <input type="text" placeholder="ISBN" name="isbn">
                <button type="submit">Submit</button>
            </form>
        <% } %>
    </div>
</div>

<script src="main.js"></script>

</body>
</html>

`

